#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MEH LC(LS(LALT))
#define U_CUT LS(DEL)
#define U_COPY LC(INS)
#define U_PASTE LS(INS)
#define ___ &trans
#define _0_ &to 0

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R     &kp T        &kp Y      &kp U    &kp I      &kp O    &kp P     &kp BSPC
&mt LCTRL ESCAPE  &kp A  &kp S  &kp D     &kp F     &kp G        &kp H      &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C     &kp V     &kp B        &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LGUI  &kp BSPC  &kp SPACE    &kp SPACE  &kp RET  &kp RALT
            >;
        };

        Lower {
            bindings = <
 ___     &kp LG(Q)    &kp LC(W)   &kp LS(LC(TAB))   &kp LC(TAB)   &kp LC(T)                          &kp LBKT    &kp RBKT     &kp LBRC   &kp RBRC   &kp PRCNT    ___
 ___     &kp LGUI     &kp LALT    &kp LCTRL         &kp LSHFT     ___                                &kp HASH    &kp EQUAL    &kp LPAR   &kp RPAR   &kp GRAVE    ___
 ___     &kp K_UNDO   &kp U_CUT   &kp U_COPY        &kp U_PASTE   ___                                &kp CARET   &kp DOLLAR   &kp LT     &kp GT     &kp TILDE    ___
                                             &kp K_CMENU   ___         ___   &kp UNDERSCORE   &kp MINUS   &kp PLUS
            >;
        };

        Raise {
            bindings = <
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
                        ___  ___  ___    ___  ___  ___
            >;
        };

        Fun {
            bindings = <
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
                        ___  ___  ___    ___  ___  ___
            >;
        };

        Adjust {
            bindings = <
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
                        ___  ___  ___    ___  ___  ___
            >;
        };

        Mouse {
            bindings = <
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
___  ___  ___  ___  ___  ___    ___  ___  ___  ___  ___  ___
                        ___  ___  ___    ___  ___  ___
            >;
        };

        Qwerty {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R     &kp T        &kp Y      &kp U    &kp I      &kp O    &kp P     &kp BSPC
&mt LCTRL ESCAPE  &kp A  &kp S  &kp D     &kp F     &kp G        &kp H      &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C     &kp V     &kp B        &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LGUI  &kp BSPC  &kp SPACE    &kp SPACE  &kp RET  &kp RALT
            >;
        };
    };
};
